<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>Ms Shell Handicrafts</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="../../assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/hamburgers/hamburgers.min.css">

  <!-- Revolution Slider -->
  <link rel="stylesheet" href="../../assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="../../assets/vendor/revolution-slider/revolution/css/settings.css">
  <link rel="stylesheet" href="../../assets/vendor/revolution-slider/revolution/css/layers.css">
  <link rel="stylesheet" href="../../assets/vendor/revolution-slider/revolution/css/navigation.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="../../assets/css/unify-core.css">
  <link rel="stylesheet" href="../../assets/css/unify-components.css">
  <link rel="stylesheet" href="../../assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="../../assets/css/custom.css">
</head>

<body>
  <main>



    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
      <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

             <!-- Logo -->
            <a href="/" class="navbar-brand" style="color: #72c02c !important; font-size: x-large;">
              MS SHELL<!-- <img src="../../assets/logo.jpg" alt="Image Description" style="width: 120px;height: 40px;"> -->
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
              <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                <!-- Intro -->
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="/" class="nav-link g-py-7 g-px-0">Home</a>
                </li>
                <!-- End Intro -->

                <!-- Demos -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                  <a id="nav-link-demos" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-demos">Products</a>

                  <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-demos" aria-labelledby="nav-link-demos">
                    <!-- Demos - E-Commerce -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="/frames" style="color: #72c02c !important">Frames<span class="g-opacity-0_5"></span></a>
                    </li>
                    <!-- End Demos - E-Commerce -->
                    <li class="dropdown-item ">
                      <a class="nav-link" href="/keyholder" style="color: #72c02c !important">Key Holder<span class="g-opacity-0_5"></span></a>
                    </li>
                    <li class="dropdown-item ">
                      <a class="nav-link" href="/flower" style="color: #72c02c !important">Flower<span class="g-opacity-0_5"></span></a>
                    </li>
                  </ul>
                </li>
                <!-- End Demos -->

                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <a href="/about" class="nav-link g-py-7 g-px-0">About</a>
                </li>
                <!-- End Intro -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <div id="heading-21-2" class="tab-pane fade text-center active show g-mt-40" role="tabpanel">
      <div id="shortcode21-2">
        <div class="shortcode-html">
          <div class="u-heading-v7-2 g-mb-30">
            <h2 class="h3 u-heading-v7__title">Key Holder</h2>

            <div class="u-heading-v7-divider g-brd-primary g-height-20">
              <i class="fa fa-heart u-heading-v7-divider__icon g-color-primary g-font-size-70x"></i>
              <i class="fa fa-heart u-heading-v7-divider__icon g-font-size-95x g-color-primary"></i>
              <i class="fa fa-heart u-heading-v7-divider__icon g-color-primary"></i>
              <i class="fa fa-heart u-heading-v7-divider__icon g-font-size-95x g-color-primary"></i>
              <i class="fa fa-heart u-heading-v7-divider__icon g-font-size-70x g-color-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="shortcode1">
        <div class="shortcode-html">
          <div class="row">
            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k1.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k2.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k5.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k7.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k4.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k9.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/i32.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/i33.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>


            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/i34.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/i27.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

             <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/f15.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>


            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/f13.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k6.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>

            <div class="col-md-6 col-lg-4 g-mb-30">
              <!-- Article -->
              <article class="u-block-hover u-bg-overlay g-color-white text-center g-rounded-3">
                <!-- Article Image -->
                <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x600/k10.jpg" alt="Image Description">
                <!-- End Article Image -->
              </article>
              <!-- End Article -->
            </div>
          </div>
        </div>

        <div class="shortcode-styles">
          <!-- CSS Implementing Plugins -->
          <link type="text/plain" rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
          <link type="text/plain" rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.min.css">
        </div>

        <div class="shortcode-scripts">
          <!-- JS Implementing Plugins -->
          <script type="text/plain" src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>

          <!-- JS Unify -->
          <script type="text/plain" src="../../assets/js/components/hs.popup.js"></script>

          <!-- JS Plugins Init. -->
          <script type="text/plain">
            $(document).on('ready', function () {
              // initialization of popups
              $.HSCore.components.HSPopup.init('.js-fancybox');

              // initialization of popups with media
              $.HSCore.components.HSPopup.init('.js-fancybox-media', {
                helpers: {
                  media: {},
                  overlay: {
                    css: {
                      'background': 'rgba(255, 255, 255, .8)'
                    }
                  }
                }
              });
            });
          </script>
        </div>
      </div>
    </div>


    <div class="shortcode-styles">
      <!-- CSS Implementing Plugins -->
      <link  rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.min.css">
    </div>

    <div class="shortcode-scripts">
      <!-- JS Implementing Plugins -->
      <script  src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>

      <!-- JS Unify -->
      <script  src="../../assets/js/components/hs.popup.js"></script>

      <!-- JS Plugins Init. -->
      <script >
        $(document).on('ready', function () {
          // initialization of popups
          $.HSCore.components.HSPopup.init('.js-fancybox');
        });
      </script>
    </div>
  

    <!-- Footer -->
    <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
      <div class="container">
        <div class="row">
          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
            </div>

            <p>M.S.SHELL CRAFT was established by Mr.SELVARAJ who the Founder and Managing Director of M.S.SHELL CRAFT IN 1991. </p>
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
          </div>
          <!-- End Footer Content -->

          <!-- Footer Content -->
          <div class="col-lg-3 col-md-6">
            <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
              <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
            </div>

            <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../assets/img/maps/map2.png);">
          <!-- Location -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-map-marker"></i>
              </span>
            </div>
            <p class="mb-0">Khasra number 174, Street no. 8,  <br> Village Wazirabad New delhi 110084 </p>
          </div>
          <!-- End Location -->


          <!-- Phone -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <p class="mb-0">+91 888 232 0623 <br></p>
          </div>
          <!-- End Phone -->

          <!-- Email and Website -->
          <div class="d-flex g-mb-20">
            <div class="g-mr-10">
              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                <i class="fa fa-globe"></i>
              </span>
            </div>
            <p class="mb-0">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@msshellcraft.com</a>
              <br>
            </p>
          </div>
          <!-- End Email and Website -->
        </address>
          </div>
          <!-- End Footer Content -->
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 © All Rights Reserved.</small>
            </div>
          </div>

          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/jquery.easing/js/jquery.easing.js"></script>
  <script src="../../assets/vendor/popper.min.js"></script>
  <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../../assets/vendor/appear.js"></script>
  <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="../../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>

  <!-- JS Revolution Slider -->
  <script src="../../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

  <script src="../../assets/vendor/revolution-slider/revolution-addons/slicey/js/revolution.addon.slicey.min.js"></script>

  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="../../assets/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

  <!-- JS Unify -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/components/hs.carousel.js"></script>
  <script src="../../assets/js/components/hs.header.js"></script>
  <script src="../../assets/js/helpers/hs.hamburgers.js"></script>
  <script src="../../assets/js/components/hs.tabs.js"></script>
  <script src="../../assets/js/components/hs.counter.js"></script>
  <script src="../../assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="../../assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    // initialization of slider revolution
      var tpj = jQuery,
        revapi24;

      tpj(document).ready(function () {
        if (tpj("#rev_slider_24_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_24_1");
        } else {
          revapi24 = tpj("#rev_slider_24_1").show().revolution({
            sliderType: "standard",
            jsFileLocation: "../../assets/vendor/revolution-slider/revolution/js/",
            sliderLayout: "fullscreen",
            dottedOverlay: "none",
            delay: 9000,
            navigation: {
              keyboardNavigation: "off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation: "off",
              mouseScrollReverse: "default",
              onHoverStop: "off",
              bullets: {
                enable: true,
                hide_onmobile: false,
                style: "bullet-bar",
                hide_onleave: false,
                direction: "horizontal",
                h_align: "center",
                v_align: "bottom",
                h_offset: 0,
                v_offset: 50,
                space: 5,
                tmp: ''
              }
            },
            responsiveLevels: [1240, 1024, 778, 480],
            visibilityLevels: [1240, 1024, 778, 480],
            gridwidth: [1240, 1024, 778, 480],
            gridheight: [868, 768, 960, 720],
            lazyType: "none",
            shadow: 0,
            spinner: "off",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "60px",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false
            }
          });
        }

        if (revapi24) revapi24.revSliderSlicey();
      });

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>







</body>

</html>
